* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    }
    
    body {
    -ms-overflow-style:none;
    height:100vh;
    overflow-x:hidden;
    }
    
    .sections {
    width:100vw;
    height:auto;
    position:relative;
    }
    
    html {
    font-family:'Poppins',sans-serif;
    background-color:#242424;
    margin:0 auto;
    overflow-x:hidden;
    }
    
    .bottom-navigation-bar {
    z-index:999;
    height:52px;
    width:100vw;
    position:fixed;
    }
    
    .home,.search,.connect,.messages,.profile {
    width:100vw;
    height:100vh;
    transition:transform .3s;
    position:absolute;
    overflow:scroll;
    -webkit-overflow-scrolling:touch;
    }
    
    .home {
    left:0;
    }
    
    .search {
    left:calc(100vw);
    }
    
    .connect {
    left:calc(200vw);
    }
    
    .messages {
    left:calc(300vw);
    }
    
    .profile {
    left:calc(400vw);
    }
    
    .navigation-list {
    height:50px;
    width:100vw;
    background-color:#1d1d1d;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    position:fixed;
    bottom:0;
    text-align:center;
    transition:bottom .3s;
    }
    
    .noselect {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    }
    
    .nav-list-item {
    display:inline-block;
    width:20%;
    transform:translateY(50%);
    color:#777;
    }
    
    .profile-icon {
    width:1.5rem;
    border-radius:50%;
    }
    
    .underline {
    display:block;
    background-color:#e42f2f;
    width:20%;
    height:2px;
    position:fixed;
    bottom:0;
    left:0;
    transition:left .3s;
    }
    
    .profile-header-placeholder {
    width:100%;
    overflow:hidden;
    border-radius:30px;
    }
    
    .profile-header-img {
    width:100%;
    }
    
    .profile-header {
    width:99vw;
    margin:0 auto;
    margin-bottom:5px;
    }
    
    .profile-card {
    width:99vw;
    padding-left:4%;
    background-color:#383838;
    border-radius:15px;
    padding-bottom:10px;
    height:fit-content;
    position:relative;
    }
    
    .profile-card-left {
    width:100px;
    height:100%;
    text-align:center;
    display:inline-block;
    }
    
    .profile-picture-placeholder {
    width:95px;
    height:95px;
    transform:translateY(-40%);
    border-radius:6px;
    overflow:hidden;
    margin:0 auto;
    }
    
    .profile-picture-content {
    width:100%;
    height:auto;
    }
    
    .action-btn:active {
    background-color:#b42727;
    }
    
    .action-btn {
    display:block;
    padding:5px 10px;
    width:95px;
    margin:0 auto;
    margin-top:10px;
    border:none;
    font-size:.75rem;
    outline:none;
    height:30px;
    border-radius:17px;
    color:#fff;
    background-color:#e42f2f;
    transform:translateY(-70%);
    }
    
    .display-name {
    color:#fff;
    font-size:25px;
    }
    
    .user-bio {
    color:#fff;
    font-weight:200;
    font-size:.7rem;
    text-align:center;
    }
    
    .user-name {
    font-size:10px;
    color:#a3a3a3;
    font-weight:200;
    margin-bottom:15px;
    }
    
    .profile-card-right {
    height:inherit;
    width:65%;
    display:inline-block;
    transform:translateY(-10%);
    }
    
    .info-li {
    display:inline-block;
    font-size:12px;
    width:30%;
    color:#fff;
    }
    
    .user-info {
    list-style:none;
    text-align:center;
    }
    
    .red {
    color:#e42f2f;
    }
    
    .tweet {
    background-color:#303030;
    border-radius:15px;
    padding:10px;
    color:#dadada;
    margin:5px auto 0;
    width:99%;
    display:flex;
    overflow:hidden;
    transition:height .3s;
    }
    
    .tweet-container-left-col {
    width:25%;
    max-width:5em;
    }
    
    .tweet-author-picture-container {
    height:50px;
    width:50px;
    border-radius:50%;
    margin:0 auto;
    overflow:hidden;
    }
    
    .tweet-container-right-col {
    margin-left:.4em;
    width:100%;
    }
    
    .section-header {
    width:100vw;
    height:50px;
    text-align:center;
    padding-top:.4rem;
    color:#e42f2f;
    background-color:#1d1d1d;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    margin-bottom:.6rem;
    }
    
    .search-input {
    background-color:#303030;
    border:none;
    width:80%;
    margin-left:10vw;
    height:30px;
    border-radius:15px;
    text-align:center;
    font-family:'poppins';
    font-size:.9rem;
    direction:ltr;
    color:#fff;
    }
    
    .menu-hider {
    top:100vh;
    }
    
    .menu-shower {
    top:2rem;
    }
    
    .pop-menu {
    width:90%;
    background-color:#242424;
    position:fixed;
    margin-left:50%;
    transform:translateX(-50%);
    padding:2rem;
    margin-top:1rem;
    border-radius:25px;
    transition:top .3s;
    z-index:10;
    }
    
    #share-link {
    background:none;
    outline:none;
    border:1px solid #e42f2f;
    color:#fff;
    text-align:center;
    border-radius:5px;
    padding:4px 5px;
    width:100%;
    }
    
    #copy-profile-link {
    width:80%;
    padding:10px 5px;
    font-size:1em;
    font-weight:700;
    margin-left:50%;
    transform:translateX(-50%);
    background-color:#1d1d1d;
    color:#fff;
    border-radius:15px;
    outline:none;
    border:2px solid #e42f2f;
    margin-top:20px;
    }
    
    #share-link-label {
    color:#e42f2f;
    position:absolute;
    left:50%;
    top:30%;
    font-size:1.5em;
    transform:translate(-50%);
    }
    
    .group {
    position:relative;
    margin-bottom:22px;
    }
    
    .edit-input {
    font-size:12px;
    padding:10px 10px 10px 5px;
    -webkit-appearance:none;
    display:block;
    background:#242424;
    color:#919191;
    width:100%;
    border:none;
    border-radius:0;
    border-bottom:1px solid #757575;
    resize:none;
    }
    
    .edit-input:focus {
    outline:none;
    }
    
    label {
    color:#999;
    font-size:12px;
    font-weight:400;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:all .2s ease;
    }
    
    .edit-input:focus ~ label,input.used ~ label {
    top:-20px;
    transform:scale(.75);
    left:-2px;
    color:#e42f2f;
    }
    
    .bar {
    position:relative;
    display:block;
    width:100%;
    }
    
    .bar:before,.bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#e42f2f;
    transition:all .2s ease;
    }
    
    .bar:before {
    left:50%;
    }
    
    .bar:after {
    right:50%;
    }
    
    .edit-input:focus ~ .bar:before,.edit-input:focus ~ .bar:after {
    width:50%;
    }
    
    .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:.5;
    }
    
    .bio-input {
    margin-bottom:8px;
    height:50px;
    }
    
    .edit-input:focus ~ .highlight {
    animation:inputHighlighter .3s ease;
    }
    
    .bio-bar {
    margin-top:-8px;
    }
    
    body::-webkit-scrollbar,.home::-webkit-scrollbar,.search::-webkit-scrollbar,.connect::-webkit-scrollbar,.messages::-webkit-scrollbar,.profile::-webkit-scrollbar {
    display:none;
    }
    
    .edit-profile-header,.share-profile-header {
    color:#e42f2f;
    margin-bottom:2.7rem;
    }
    
    @keyframes inputHighlighter {
    from {
    background:#4a89dc;
    }
    
    to {
    width:0;
    background:transparent;
    }
    }
    
    .date-input {
    background-color:#242424;
    width:100%;
    }
    
    .edit-submit {
    width:100%;
    padding:10px;
    border-radius:25px;
    background-color:#e42f2f;
    border:none;
    color:#fff;
    font-family:'poppins';
    font-size:.9rem;
    outline:none;
    }
    
    .edit-submit:active {
    background-color:#b42727;
    }
    
    .overlay-background {
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:#000;
    opacity:0;
    transition:opacity .3s;
    z-index:-1;
    }
    
    .over-active {
    opacity:.75;
    z-index:4;
    }
    
    .cross-sign {
    width:50px;
    height:50px;
    position:absolute;
    top:1.5rem;
    border:1px solid #e42f2f;
    border-radius:50%;
    right:2rem;
    text-align:center;
    display:flex;
    flex-direction:column;
    }
    
    .cross-notation {
    margin-top:15%;
    color:#e42f2f;
    }
    
    .tweet-card-header {
    width:100%;
    height:30px;
    }
    
    .tweet-author-display-name,.tweet-author-username {
    display:inline-block;
    }
    
    .tweet-author-display-name {
    font-size:1em;
    color:#fff;
    }
    
    .tweet-author-username {
    font-size:.5em;
    font-style:oblique;
    }
    
    .tweet-content {
    word-break:break-all;
    width:100%;
    }
    
    .tweet-content-p {
    font-size:.7em;
    }
    
    .brocodes-action-btns {
    width:100%;
    list-style:none;
    margin-top:1em;
    text-align:justify;
    display:flex;
    justify-content:space-between;
    padding-right:1em;
    }
    
    .brocode-action-btn {
    display:inline-block;
    text-align:center;
    }
    
    .action-icon {
    font-size:1em;
    }
    
    .brocode-composing-area {
    width:100%;
    background-color:#1d1d1d;
    border-radius:15px;
    position:relative;
    color:#fff;
    padding-bottom:15px;
    }
    
    #brocode-composing-area {
    width:100%;
    background-color:#242424;
    border-radius:13px;
    color:#fff;
    padding:1em;
    outline:none;
    font-family:'poppins';
    border:1px solid #b42727;
    resize:none;
    }
    
    .composing-action-btns {
    height:37px;
    width:60%;
    display:inline-block;
    margin-left:40px;
    list-style:none;
    }
    
    .bronekt-btn {
    border:none;
    background-color:#e42f2f;
    color:#fff;
    font-size:.7em;
    padding:10px 15px;
    border-radius:100px;
    margin-right:20px;
    margin-top:2em;
    }
    
    .gif-icon {
    font-size:2.5em;
    transform:translate(-5px,8px);
    }
    
    .composing-actions {
    margin-top:10px;
    margin-bottom:10px;
    justify-content:space-between;
    display:flex;
    white-space:nowrap;
    }
    
    .composing-action-elem {
    display:inline-block;
    width:40px;
    color:#e42f2f;
    margin-top:10px;
    }
    
    .composing-icons {
    cursor:pointer;
    border:3px solid transparent;
    }
    
    .composing-icons:active {
    background-color:#303030;
    border-radius:50%;
    border:3px solid #303030;
    }
    
    .mic-blob {
    position:fixed;
    width:90%;
    height:70%;
    background-color:#1d1d1d;
    margin-left:50%;
    transform:translateX(-50%);
    border:2px solid #e42f2f;
    margin-top:2em;
    border-radius:25px;
    text-align:center;
    padding:1em;
    transition:top .3s;
    top:2em;
    }
    
    .mic-blob-disappear {
    top:100vh;
    }
    
    .hold-record-text {
    color:#e42f2f;
    font-family:'poppins';
    }
    
    #recording-mic-btn {
    margin-top:1em;
    font-size:4em;
    border-radius:50%;
    border:2px solid #e42f2f;
    padding:.5em;
    color:#777;
    cursor:pointer;
    }
    
    .mic-blob-container {
    width:100%;
    height:100%;
    position:relative;
    }
    
    #mic-menu-close {
    transform:translateX(1.5em);
    transform:translateY(1.5em);
    }
    
    #profile-options {
    position:absolute;
    top:10px;
    right:1.3em;
    cursor:pointer;
    z-index:1000000;
    }
    
    .option-dots {
    width:5px;
    height:5px;
    border-radius:50%;
    background-color:#e42f2f;
    margin:3px;
    }
    
    .sign-out-prompt {
    width:90%;
    height:200px;
    background-color:#2d2d2d;
    border-radius:25px;
    position:fixed;
    z-index:100;
    text-align:center;
    transition:top .3s;
    left:50%;
    transform:translate(-50%,-50%);
    top:50vh;
    }
    
    #logout-btn:link,#logout-btn:visited {
    color:#fff;
    }
    
    #logout-btn {
    text-decoration:none;
    padding:10px 20px;
    border-radius:25px;
    background-color:#e42f2f;
    color:#fff;
    border:1px solid rgba(0,0,0,0);
    }
    
    #logout-prompt-text {
    color:#fff;
    margin:2em;
    }
    
    #logout-cancel-btn:hover {
    background-color:#e42f2f;
    }
    
    #logout-cancel-btn {
    text-decoration:none;
    padding:10px 20px;
    border-radius:25px;
    background-color:#2d2d2d;
    color:#fff;
    border:1px solid #e42f2f;
    transition:background-color .3s;
    }
    
    .sign-out-blob-disappear {
    top:150vh;
    }
    
    .emoji-div {
    width:100%;
    z-index:9999999;
    overflow:hidden;
    height:40px;
    }
    
    .emoji-list {
    display:flex;
    overflow-x:scroll;
    flex-direction:row;
    width:100%;
    height:100%;
    background-color:#1d1d1d;
    list-style:none;
    margin:-1px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    }
    
    .emoji-list-item {
    display:inline-block!important;
    margin:4px;
    }
    
    #insert-img-btn,.emoji-list::-webkit-scrollbar {
    display:none;
    }

    .image-upload-placeholder {
        width: 100%;
        background-color: #1d1d1d;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        text-align: center;
    }
    
    .upload-image-content {
        width: 120px;
    }