<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" href="https://img2.pngio.com/alphabet-b-letter-letters-red-icon-alphabet-b-png-512_512.png">
        <meta name="apple-mobile-web-app-capable" content="yes" /> 
        <meta name="apple-mobile-web-app-title" content="Bronekt">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "users/css/landing.css" %}">
        <title>Profile</title>
    </head>
<body>
    
    <div class="container">

        <h1 class="logo-header">b&lt;onekt</h1>
        {% if error %}
            {{error}}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button id="sign-in-btn" type="submit">Login</button>
            <p class="sign-in-prompt" style="display:block !important;">    Need an account ?<a href="{% url 'register' %}"> Register</a> here</p>
        </form>
    </div>


    <script src="{% static "users/js/login.js" %}"></script>
</body>
</html>



