<!DOCTYPE html>
<html>
<head>
	    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<title>Logged out</title>
	<style type="text/css">
		

		html {
			background-color: #1d1d1d;
			
		}

		body {
			position: relative;
			height: 99vh;
			width: 99vw;
			overflow: hidden;
		}

		.container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #fff;
			font-size: 1.5em;
			font-family: 'poppins', arial;
		}


		span {
			color: rgb(228, 47, 47);
		}


	</style>
</head>
<body>


	<div class="container">
		<h1 class="Logoutheader">
			<span>Bye,</span> Hope to hear from you soon!
		</h1>
	</div>


	<script>
		setTimeout(()=>{
			window.location.href = '/';
		},5000);
	</script>


</body>
</html>