<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "users/css/landing.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <title>Bronekt</title>
    </head>
<body>
    <div class="container">

        <h1 class="logo-header">b&lt;onekt</h1>
        {% if error %}
            {{error}}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Register</button>
        </form>
    </div>



    <script src="{% static "users/js/register.js" %}"></script>
</body>
</html>